appnope
backports.shutil-get-terminal-size
cycler
decorator
entrypoints
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
numpy
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
pexpect
pandas
pickleshare
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scikit-learn
scipy
simplegeneric
six
terminado
termcolor
tornado
traitlets
widgetsnbextension

